<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h3><a href="#">Home</a></h3>
        <h3><a href="#">AI Engine</a></h3>
        <h3><a href="#">Supplements</a></h3>
        <h3><a href="#">Contact Us</a></h3>
    </div>

    <h1 class="heading">Plant Disease Detection</h1>
    <h3>This AI Engine will help to detect disease from following fruits and vegetables</h3>

    <div class="btn_container">
    <button class="btn">AI Engine</button>
    </div>
</body>
</html>